.header{
    background-color: rgb(255, 231, 201);
    padding: 20px;
 
} .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .center-header ul{
        display: flex;
        gap: 20px;
    }
    .right-header{
        display: flex;
        gap: 15px;
    }
    .left-header img{
background-color: black;
    }
}
@media only screen and (max-width: 960px) {
    .center-header ul {
   flex-wrap: wrap;
    }
    .right-header{
        display: none;
    }
  }
  @media only screen and (max-width: 700px) {
 
    .right-header i{
        display: none;
    }
  }
  @media only screen and (max-width: 700px) {
  .left-header img{
    display: none;
  }
  }