form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    gap: 10px;
    input{
        width: 350px;
    }
    button{
        background-color: chartreuse;
        padding: 3px 15px;
        border-radius: 10px;
    }
}